

{% include 'inc/common-head.html' %}

{% include 'inc/common-header.html' %}

                <div class="container">
                    <div class="counters">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="counter-card shadow">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex align-count">
                                                <div>
                                                    <i class="fa fa-user" aria-hidden="true"></i>
                                                    <p class="text-muted">کل کاربران</p>
                                                </div>
                                                <div class="ml-auto">
                                                    <h2 class="text-primary count">100</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="counter-card color-count-1 shadow">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="d-flex align-count">
                                                <div>
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                    <p class="text-muted">کاربران آنلاین</p>
                                                </div>
                                                <div class="ml-auto">
                                                    <h2 class="text-primary count">169</h2>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" style="width: 85%;"
                                                    aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    

                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <div class="card">
                                <div class="card-body">
                                  وضعیت سرور : <span class="badge badge-success">روشن</span>
                                </div>
                              </div>
                        </div>


                    </div>



                    <div class="row">
                        <div class="col-md-12">
                            <div class="basic-card shadow">
                                <div class="card-header">
                                    <div class="card-head">
                                        <div class="head-title">
                                            <h3 class="head-text">
                                                Area chart
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_content">
                                    <div class="container">
                                        <div class="col-xs-6 col-xs-offset-3">
                                            <div id="chart1" class="big-chart"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    
                </div>

        
{% include 'inc/common-footer.html' %}
