

{% include 'inc/common-head.html' %}

{% include 'inc/common-header.html' %}

                <div class="container" >
                    <div class="counters">
                      

                        <div class="row">
                            <div class="col-md-12 col-sm-12">
                                <div class="basic-card-table shadow">
                                    <div class="card-header">
                                        <div class="card-head">
                                            <div class="head-title">
                                                <h3 class="head-text">
                                                    کاربران
                                                </h3>
                                            </div>
                                        </div>
    
                                    </div>
                                    <div class="card_content">
                                        <table class="table table-bordered">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">نام کاربری</th>
                                                <th scope="col">پسورد</th>
                                                <th scope="col">وضعیت کاربر</th>
                                                <th scope="col">زمان کانکت </th>
                                                <th scope="col">برنامه </th>
                                                <th scope="col">میزان مصرف </th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr v-for="user in user_list">
                                                <th scope="row">1</th>
                                                <td>[[[ user.Username ]]]</td>
                                                <td>[[[ user.Username ]]]</td>
                                                <td>[[[ user.State ]]]</td>
                                                <td>[[[ user._Connected at ]]]</td>
                                                <td>[[[ user.User-Agent ]]]</td>
                                                <td>[[[ user._Connected at ]]]</td>
                                              </tr>

                                            </tbody>
                                          </table>
    
    
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

        
                

<script>


let app = new Vue({
  delimiters: ['[[[', ']]]'],
  el: '#app',
  data: {
    user_list:[]
  },
  methods:{
    getUserList:function(){
      
      axios.get('{{ url_for("users") }}')
      .then(response => {
        this.user_list = response.data
      })
      .catch(error => {
        console.log(error)
      })


     }
    },

    mounted: function () {
  
      this.getUserList()
}

  
  
})
            




</script>




{% include 'inc/common-footer.html' %}
