                <footer id="footer">
                    <div class="copyright-area">
                        <p>
                            2017 © Admin theme by Mobio Solutions
                        </p>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Terms And Conditions</a>
                            </li>
                        </ul>
                    </div>
                </footer>
                <div id="stop" class="scrollTop">
                    <a href=""><i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
                
                 <!-- Javascript Start Here -->
                 
                 <script src="{{ url_for('static', filename='assets/js/plugin/jquery/jquery.min.js') }}"></script>
                 <script src="{{ url_for('static', filename='assets/js/plugin/popper.min.js') }}"></script>
                 <script src="{{ url_for('static', filename='assets/js/plugin/bootstrap.min.js') }}"></script>
                 <script src="{{ url_for('static', filename='assets/js/plugin/default.min.js') }}"></script>
                
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                 <script src="{{ url_for('static', filename='assets/js/plugin/chart-circle/circles.min.js') }}"></script>
                 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                 <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
                  <script src="{{ url_for('static', filename='assets/js/app.js') }}"></script>
                 
                 
                                 
        
                 
                
                 
            </div>
   
    </div>
    <!-- <End Of Body Section> -->
    <!-- <script src="assets/js/flot.js"></script> -->
    <script>

        $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js', function () {
            $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.pie.min.js', function () {
                $.getScript('//cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.resize.min.js', function () {


                    // static charts
                    var d1 = [];
                    for (var i = 0; i < 14; i += 0.2) {
                        d1.push([i, Math.sin(i)]);
                    }
                    var d2 = [[0, 3], [4, 8], [8, 5], [9, 13]];
                    var d3 = [[0, 12], [7, 12], [12, 13]];

                    // line
                    $.plot("#chart1", [d2, d3], { yaxis: { show: false }, grid: { borderColor: '#ccc' }, series: { color: '#ff4444', lines: { show: true }, points: { show: true } } });
                    $.plot("#chart2", [d1], { yaxis: { show: false }, grid: { borderColor: '#ccc' } });
                    $.plot("#chart3", [d2, d3], { yaxis: { show: false }, grid: { borderColor: '#ccc' }, series: { color: '#ff4444', lines: { show: true }, points: { show: true } } });
                    $.plot("#chart4", [d3], { yaxis: { show: false }, grid: { borderColor: '#ccc' }, series: { color: '#4444ff' } });

                    // pie
                    $.plot("#chart5", [{ data: 70, color: '#5566ff' }, { data: 20, color: '#ddd' }], { series: { pie: { show: true, innerRadius: 0.6 } } });
                    $.plot("#chart6", [{ data: 10, color: '#5566ff' }, { data: 30, color: '#ddd' }], { series: { pie: { show: true, innerRadius: 0.6 } } });

                    // real-time chart
                    // we use an inline data source in the example, usually data would
                    // be fetched from a server
                    var data = [], totalPoints = 200;
                    function getRandomData() {

                        if (data.length > 0)
                            data = data.slice(1);

                        // do a random walk
                        while (data.length < totalPoints) {
                            var prev = data.length > 0 ? data[data.length - 1] : 50;
                            var y = prev + Math.random() * 10 - 5;
                            if (y < 0)
                                y = 0;
                            if (y > 100)
                                y = 100;
                            data.push(y);
                        }

                        // zip the generated y values with the x values
                        var res = [];
                        for (var i = 0; i < data.length; ++i)
                            res.push([i, data[i]])
                        return res;
                    }

                    // setup control widget
                    var updateInterval = 500;
                    $("#updateInterval").val(updateInterval).change(function () {
                        var v = $(this).val();
                        if (v && !isNaN(+v)) {
                            updateInterval = +v;
                            if (updateInterval < 1)
                                updateInterval = 1;
                            if (updateInterval > 2000)
                                updateInterval = 2000;
                            $(this).val("" + updateInterval);
                        }
                    });

                    // setup plots
                    var options = {
                        grid: { borderColor: '#ccc' },
                        series: { shadowSize: 0, color: "#33ff33" },
                        yaxis: { min: 0, max: 100 },
                        xaxis: { show: true }
                    };

                    var plot = $.plot($("#chart1"), [getRandomData()], options);

                    function update() {
                        plot.setData([getRandomData()]);
                        plot.draw();
                        setTimeout(update, updateInterval);
                    }

                    update();

                });// end getScript (resize)
            });// end getScript (pie)
        });// end getScript

    </script>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".side-nav .collapse").on("hide.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
            });
            $('.side-nav .collapse').on("show.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            /******************************
                BOTTOM SCROLL TOP BUTTON
             ******************************/

            // declare variable
            var scrollTop = $(".scrollTop");

            $(window).scroll(function () {
                // declare variable
                var topPos = $(this).scrollTop();

                // if user scrolls down - show scroll to top button
                if (topPos > 100) {
                    $(scrollTop).css("opacity", "1");

                } else {
                    $(scrollTop).css("opacity", "0");
                }

            }); // scroll END

            //Click event to scroll to top
            $(scrollTop).click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 800);
                return false;

            }); // click() scroll top EMD
        });
    </script>

    <!-- Javascript End Here -->
</body>

</html>