<!doctype html>
<html lang="en">

<head>
   <!-- Meta Tag Description -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="format-detection" content="telephone=no">
<!-- Meta Tag Description -->

<!-- Page Title Text -->
<title>dddddd</title>
<!-- Page Title Text -->

<!--Fevicon Icon Start-->
<link rel="icon" href="assets/images/favicon.png" type="image/x-icon">
<!--Fevicon Icon End-->

<!--Font Description-->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
<!--Font Description-->

<!-- Css Part Start -->
<link rel="stylesheet" href="assets/css/bootstrap/bootstrap.css">
<link rel="stylesheet" href="assets/css/font/material-icon/materialdesignicons.css">
<link rel="stylesheet" href="assets/css/font/font-awesome/font-awesome.css">
<link rel="stylesheet" href="assets/css/plugin/submain.min.css">
<link rel="stylesheet" href="assets/css/custom.css">
<!-- Css Part End -->

<!--[if lt IE 9]>
    <script type="text/javascript" src="assets/js/html5shiv.min.js"></script>
    <script type="text/javascript" src="assets/js/respond.min.js"></script>
<![endif]-->
<!-- Css Part End -->


</head>

<body class="skin-blue sidebar-mini">
    <!-- <Start Of Header Section> -->
    <div class="main-page">
        <header class="main-header">
            <div class="header-menu-top">
                <div class="header-top" id="headertop">
                    <div class="left-side-logo-header main-sidebar">
                        <div class="logo-area">
                            <img src="assets/images/mobio-logo.jpg" alt="Logo" />
                        </div>
                        <div class="toggle-area">
                            <a href="#" data-toggle="push-menu" role="button">
                                <span>
                                </span>
                            </a>
                        </div>
                    </div>
                    <nav class="navbar navbar-static-top p-0">
                        <div class="right-side-menu-bar shadow">
                            <div class="header-menu">
                                <ul class="header-menu-list">
                                    <li>
                                        <a href="#">
                                            <?php echo $headtitle; ?></a>
                                    </li>
        
                                    <li>
                                        <div class="toggle-area d-sm-block d-md-none">
                                            <a href="#" data-toggle="push-menu" role="button">
                                                <span>
                                                </span>
                                            </a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="notification-list">
                                <ul class="header-menu-list">
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                        <div class="mail-menu dropdown-menu card-animation" aria-labelledby="navbarDropdownMenu">
        
                                            <a class="dropdown-item" href="#">
                                                Mail Box
                                            </a>
        
                                            <a class="dropdown-item" href="#">
                                                Compose mail
                                            </a>
        
                                            <a class="dropdown-item" href="#">
                                                Seperated Link
                                            </a>
                                            <div class="noti-info">
                                                <a class="dropdown-item" href="#">
                                                    View all Notification</a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownmail" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                        </a>
                                        <div class="notification-menu dropdown-menu card-animation" aria-labelledby="navbarDropdownmail">
        
                                            <a class="dropdown-item" href="#">
                                                <div>
                                                    <strong>Someone likes our posts.</strong>
                                                    <div class="small text-muted">3 hours ago</div>
                                                </div>
                                            </a>
        
                                            <a class="dropdown-item" href="#">
                                                <div>
                                                    <strong>Someone likes our posts.</strong>
                                                    <div class="small text-muted">3 hours ago</div>
                                                </div>
                                            </a>
        
                                            <a class="dropdown-item" href="#">
                                                <div>
                                                    <strong>Someone likes our posts.</strong>
                                                    <div class="small text-muted">3 hours ago</div>
                                                </div>
                                            </a>
                                            <div class="noti-info">
                                                <a class="dropdown-item" href="#">
                                                    View all Notification</a>
                                            </div>
                                        </div>
                                    </li>
        
        
        
        
        
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="false">
                                            <i class="fa fa-user-circle" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu card-animation" aria-labelledby="navbarDropdownMenuLink">
                                            <div class="admin-name">
                                                <h2>John Dio</h2>
                                                <h4>Administrator</h4>
                                            </div>
                                            <a class="dropdown-item" href="#"><i class="user-icon fa fa-user" aria-hidden="true"></i>My
                                                profile</a>
                                            <a class="dropdown-item" href="#"><i class="user-icon fa fa-cog" aria-hidden="true"></i>Settings</a>
                                            <a class="dropdown-item" href="#"><i class="user-icon fa fa-comments" aria-hidden="true"></i>Chat</a>
                                            <a class="dropdown-item" href="#"><i class="user-icon fa fa-users" aria-hidden="true"></i>Friends</a>
                                            <a class="dropdown-item" href="#"><i class="user-icon fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        
                                        </div>
                                    </li>
        
        
                                </ul>
                            </div>
                        </div>
                    </nav>
        
                </div>
            </div>
        </header>
        <!-- <Left Section Start> -->
        <section class="left-side-bar main-sidebar shadow">
            <div class="left-side">
                <ul class="sidebar-menu" data-widget="tree">
        
                    <li class="active">
                        <a href="index.html">
                            <i class="fa fa-dashboard" aria-hidden="true"></i>
        
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-tasks" aria-hidden="true"></i>
                            <span>Tables</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="table.html">
                                    Tabels</a>
                            </li>
                            <li>
                                <a href="data-table.html">
                                    Data Tabel</a>
                            </li>
        
                        </ul>
                    </li>
        
        
        
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        
                            <span>Forms</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="forms.html">
                                    Basic Forms</a>
                            </li>
                            <li>
                                <a href="form-datepicker.html">
                                    Forms Datepicker</a>
                            </li>
        
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-laptop" aria-hidden="true"></i>
                            <span>Components</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="buttons.html">
                                    Buttons</a>
                            </li>
                            <li class="Pg">
                                <a href="badges.html">
                                    Badges</a>
                            </li>
                            <li class="Pg">
                                <a href="tabs.html">
                                    Tabs</a>
                            </li>
                            <li class="Pg">
                                <a href="social-button.html">
                                    Social Buttons</a>
                            </li>
                            <li class="Pg">
                                <a href="card.html">
                                    Cards</a>
                            </li>
                            <li class="Pg">
                                <a href="alert.html">
                                    Alerts</a>
                            </li>
                            <li class="Pg">
                                <a href="progress-bars.html">
                                    Progress Bars</a>
                            </li>
                            <li class="Pg">
                                <a href="modals.html">
                                    Modals</a>
                            </li>
                            <li class="Pg">
                                <a href="switches.html">
                                    switches</a>
                            </li>
                            <li class="Pg">
                                <a href="grids.html">
                                    Grids</a>
                            </li>
                            <li class="Pg">
                                <a href="typography.html">
                                    Typography</a>
                            </li>
        
        
        
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart" aria-hidden="true"></i>
                            <span>Chart</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="chart.html">
                                    Chart</a>
                            </li>
                            <li class="Pg">
                                <a href="peity-chart.html">
                                    Peity Chart</a>
                            </li>
        
                        </ul>
                    </li>
        
        
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-map" aria-hidden="true"></i>
                            <span>Maps</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="google-maps.html">
                                    Google Maps</a>
                            </li>
                            <li>
                                <a href="vector-maps.html">
                                    Vector Maps</a>
                            </li>
        
                        </ul>
                    </li>
        
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user-o" aria-hidden="true"></i>
                            <span>Pages</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-right pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="Pg">
                                <a href="login.html">
                                    Login</a>
                            </li>
                            <li>
                                <a href="sign-up.html">
                                    Sign up</a>
                            </li>
                            <li>
                                <a href="forgot-password.html">
                                    Forgot Password</a>
                            </li>
                        </ul>
                    </li>
                </ul>
        
            </div>
        </section>
        <!-- <Left Section End> -->
        <!-- Right Section Start -->
        <div class="right-area content-wrapper">
            <div class="content-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="basic-card shadow">
                                <div class="card-header">
                                    <div class="card-head">
                                        <div class="head-title">
                                            <h3 class="head-text">
                                                Default forms
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="card_content">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="input" placeholder="Enter Your Name"
                                                    value="Enter Your Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="example-disabled-input"
                                                    placeholder="Read Only Text area." value="Read Only Text area. "
                                                    readonly="">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" class="form-control" name="example-disabled-input"
                                                    placeholder="Disabled text area.." value="" disabled="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group has-success">
                                                <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid"
                                                    placeholder="Valid Email..">
                                            </div>
                                            <div class="form-group  has-danger">
                                                <input type="text" class="form-control is-invalid state-invalid" name="example-text-input-invalid"
                                                    placeholder="Invalid feedback">
                                            </div>
                                            <div class="form-group">
                                                <input type="password" class="form-control" name="example-password-input"
                                                    placeholder="Password..">
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                                                placeholder="Write a large text here ..."></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="basic-card shadow">
                                <div class="card-header">
                                    <div class="card-head">
                                        <div class="head-title">
                                            <h3 class="head-text">
                                                Default forms with labels
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_content">
                                    <div class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Enter Name</label>
                                                <input type="text" class="form-control" name="example-text-input"
                                                    placeholder="Name">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Disabled</label>
                                                <input type="text" class="form-control" name="example-disabled-input"
                                                    placeholder="Disabled text area.." value="" disabled="">
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Readonly</label>
                                                <input type="text" class="form-control" name="example-disabled-input"
                                                    placeholder="Read Only Text area." value="Read Only Text area. "
                                                    readonly="">
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="form-group">
                                                <label class="form-label">Valid Email</label>
                                                <input type="text" class="form-control is-valid state-valid" name="example-text-input-valid"
                                                    placeholder="Valid Email..">
                                            </div>
                                            <div class="form-group m-0">
                                                <label class="form-label">Invalid Number</label>
                                                <input type="text" class="form-control is-invalid state-invalid" name="example-text-input-invalid"
                                                    placeholder="Invalid Number..">
                                                <div class="invalid-feedback">Invalid feedback</div>
                                            </div>
                                            <div class="form-group">
                                                <label class="form-label">Password</label>
                                                <input type="password" class="form-control" name="example-password-input"
                                                    placeholder="Password..">
                                            </div>
                                        </div>
                                        <div class="col-md-12 ">
                                            <div class="form-group mb-0">
                                                <label class="form-label">Message</label>
                                                <textarea class="form-control" name="example-textarea-input" rows="4"
                                                    placeholder="text here.."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12 col-ipad-12">
                            <div class="basic-card shadow">
                                <div class="card-header">
                                    <div class="card-head">
                                        <div class="head-title">
                                            <h3 class="head-text">
                                                Input Forms
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="card_content">
                                    <div class="form-group">
                                        <label class="form-label">Text</label>
                                        <input type="text" class="form-control" name="example-text-input" placeholder="Text..">
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Country</label>
                                        <select name="country" id="select-countries" class="form-control custom-select">
                                            <option value="br" data-data="{&quot;image&quot;: &quot;assets/images/flags/br.svg&quot;}">Brazil</option>
                                            <option value="cz" data-data="{&quot;image&quot;: &quot;assets/images/flags/cz.svg&quot;}">Czech
                                                Republic</option>
                                            <option value="de" data-data="{&quot;image&quot;: &quot;assets/images/flags/de.svg&quot;}">Germany</option>
                                            <option value="pl" data-data="{&quot;image&quot;: &quot;assets/images/flags/pl.svg&quot;}"
                                                selected="">Poland</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label class="form-label">Input group</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" placeholder="Search for...">
                                            <span class="input-group-append">
                                                <button class="btn btn-primary" type="button">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group mb-0">
                                        <label class="form-label">Input group buttons</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-primary">Action</button>
                                                <button data-toggle="dropdown" type="button" class="btn btn-primary dropdown-toggle dropdown-input"></button>
                                                <div class="dropdown-menu dropdown-menu-input dropdown-menu-right">
                                                    <a class="dropdown-item" href="javascript:void(0)">News</a>
                                                    <a class="dropdown-item" href="javascript:void(0)">Messages</a>
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item" href="javascript:void(0)">Edit Profile</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12 col-ipad-12">
                                <div class="basic-card shadow">
                                    <div class="card-header">
                                        <div class="card-head">
                                            <div class="head-title">
                                                <h3 class="head-text">
                                                    Input Forms
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card_content">
                                                    <div class="form-group">
                                                        <label class="form-label">Separated inputs</label>
                                                        <div class="row gutters-xs">
                                                            <div class="col pl-0">
                                                                <input type="text" class="form-control" placeholder="Search for...">
                                                            </div>
                                                            <span class="col-auto pl-0">
                                                                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="form-label">ZIP Code</label>
                                                        <div class="row gutters-sm">
                                                            <div class="col pl-0">
                                                                <input type="text" class="form-control" placeholder="Search for...">
                                                            </div>
                                                            <span class="col-auto align-self-center">
                                                                <span class="form-help" data-toggle="popover" data-placement="top" data-content="<p>ZIP Code must be US or CDN format. You can use an extended ZIP+4 code to determine address more accurately.</p>
                                                                <p class='mb-0'><a href=''>USP ZIP codes lookup tools</a></p>
                                                                " data-original-title="" title="">?</span>
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="form-label">Bootstrap's Custom File Input</div>
                                                        <div class="custom-file">
                                                            <input type="file" class="custom-file-input" name="example-file-input-custom">
                                                            <label class="custom-file-label">Choose file</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group m-0">
                                                        <label class="form-label">Date of birth</label>
                                                        <div class="row gutters-xs">
                                                            <div class="col-4 pl-0">
                                                                <select name="user[month]" class="form-control custom-select">
                                                                    <option value="">Month</option>
                                                                    <option value="1">January</option>
                                                                    <option value="2">February</option>
                                                                    <option value="3">March</option>
                                                                    <option value="4">April</option>
                                                                    <option value="5">May</option>
                                                                    <option selected="selected" value="6">June</option>
                                                                    <option value="7">July</option>
                                                                    <option value="8">August</option>
                                                                    <option value="9">September</option>
                                                                    <option value="10">October</option>
                                                                    <option value="11">November</option>
                                                                    <option value="12">December</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-4">
                                                                <select name="user[day]" class="form-control custom-select">
                                                                    <option value="">Day</option>
                                                                    <option value="1">1</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                    <option value="5">5</option>
                                                                    <option value="6">6</option>
                                                                    <option value="7">7</option>
                                                                    <option value="8">8</option>
                                                                    <option value="9">9</option>
                                                                    <option value="10">10</option>
                                                                    <option value="11">11</option>
                                                                    <option value="12">12</option>
                                                                    <option value="13">13</option>
                                                                    <option value="14">14</option>
                                                                    <option value="15">15</option>
                                                                    <option value="16">16</option>
                                                                    <option value="17">17</option>
                                                                    <option value="18">18</option>
                                                                    <option value="19">19</option>
                                                                    <option selected="selected" value="20">20</option>
                                                                    <option value="21">21</option>
                                                                    <option value="22">22</option>
                                                                    <option value="23">23</option>
                                                                    <option value="24">24</option>
                                                                    <option value="25">25</option>
                                                                    <option value="26">26</option>
                                                                    <option value="27">27</option>
                                                                    <option value="28">28</option>
                                                                    <option value="29">29</option>
                                                                    <option value="30">30</option>
                                                                    <option value="31">31</option>
                                                                </select>
                                                            </div>
                                                            <div class="col-4">
                                                                <select name="user[year]" class="form-control custom-select">
                                                                    <option value="">Year</option>
                                                                    <option value="2014">2014</option>
                                                                    <option value="2013">2013</option>
                                                                    <option value="2012">2012</option>
                                                                    <option value="2011">2011</option>
                                                                    <option value="2010">2010</option>
                                                                    <option value="2009">2009</option>
                                                                    <option value="2008">2008</option>
                                                                    <option value="2007">2007</option>
                                                                    <option value="2006">2006</option>
                                                                    <option value="2005">2005</option>
                                                                    <option value="2004">2004</option>
                                                                    <option value="2003">2003</option>
                                                                    <option value="2002">2002</option>
                                                                    <option value="2001">2001</option>
                                                                    <option value="2000">2000</option>
                                                                    <option value="1999">1999</option>
                                                                    <option value="1998">1998</option>
                                                                    <option value="1997">1997</option>
                                                                    <option value="1996">1996</option>
                                                                    <option value="1995">1995</option>
                                                                    <option value="1994">1994</option>
                                                                    <option value="1993">1993</option>
                                                                    <option value="1992">1992</option>
                                                                    <option value="1991">1991</option>
                                                                    <option value="1990">1990</option>
                                                                    <option selected="selected" value="1989">1989</option>
                                                                    <option value="1988">1988</option>
                                                                    <option value="1987">1987</option>
                                                                    <option value="1986">1986</option>
                                                                    <option value="1985">1985</option>
                                                                    <option value="1984">1984</option>
                                                                    <option value="1983">1983</option>
                                                                    <option value="1982">1982</option>
                                                                    <option value="1981">1981</option>
                                                                    <option value="1980">1980</option>
                                                                    <option value="1979">1979</option>
                                                                    <option value="1978">1978</option>
                                                                    <option value="1977">1977</option>
                                                                    <option value="1976">1976</option>
                                                                    <option value="1975">1975</option>
                                                                    <option value="1974">1974</option>
                                                                    <option value="1973">1973</option>
                                                                    <option value="1972">1972</option>
                                                                    <option value="1971">1971</option>
                                                                    <option value="1970">1970</option>
                                                                    <option value="1969">1969</option>
                                                                    <option value="1968">1968</option>
                                                                    <option value="1967">1967</option>
                                                                    <option value="1966">1966</option>
                                                                    <option value="1965">1965</option>
                                                                    <option value="1964">1964</option>
                                                                    <option value="1963">1963</option>
                                                                    <option value="1962">1962</option>
                                                                    <option value="1961">1961</option>
                                                                    <option value="1960">1960</option>
                                                                    <option value="1959">1959</option>
                                                                    <option value="1958">1958</option>
                                                                    <option value="1957">1957</option>
                                                                    <option value="1956">1956</option>
                                                                    <option value="1955">1955</option>
                                                                    <option value="1954">1954</option>
                                                                    <option value="1953">1953</option>
                                                                    <option value="1952">1952</option>
                                                                    <option value="1951">1951</option>
                                                                    <option value="1950">1950</option>
                                                                    <option value="1949">1949</option>
                                                                    <option value="1948">1948</option>
                                                                    <option value="1947">1947</option>
                                                                    <option value="1946">1946</option>
                                                                    <option value="1945">1945</option>
                                                                    <option value="1944">1944</option>
                                                                    <option value="1943">1943</option>
                                                                    <option value="1942">1942</option>
                                                                    <option value="1941">1941</option>
                                                                    <option value="1940">1940</option>
                                                                    <option value="1939">1939</option>
                                                                    <option value="1938">1938</option>
                                                                    <option value="1937">1937</option>
                                                                    <option value="1936">1936</option>
                                                                    <option value="1935">1935</option>
                                                                    <option value="1934">1934</option>
                                                                    <option value="1933">1933</option>
                                                                    <option value="1932">1932</option>
                                                                    <option value="1931">1931</option>
                                                                    <option value="1930">1930</option>
                                                                    <option value="1929">1929</option>
                                                                    <option value="1928">1928</option>
                                                                    <option value="1927">1927</option>
                                                                    <option value="1926">1926</option>
                                                                    <option value="1925">1925</option>
                                                                    <option value="1924">1924</option>
                                                                    <option value="1923">1923</option>
                                                                    <option value="1922">1922</option>
                                                                    <option value="1921">1921</option>
                                                                    <option value="1920">1920</option>
                                                                    <option value="1919">1919</option>
                                                                    <option value="1918">1918</option>
                                                                    <option value="1917">1917</option>
                                                                    <option value="1916">1916</option>
                                                                    <option value="1915">1915</option>
                                                                    <option value="1914">1914</option>
                                                                    <option value="1913">1913</option>
                                                                    <option value="1912">1912</option>
                                                                    <option value="1911">1911</option>
                                                                    <option value="1910">1910</option>
                                                                    <option value="1909">1909</option>
                                                                    <option value="1908">1908</option>
                                                                    <option value="1907">1907</option>
                                                                    <option value="1906">1906</option>
                                                                    <option value="1905">1905</option>
                                                                    <option value="1904">1904</option>
                                                                    <option value="1903">1903</option>
                                                                    <option value="1902">1902</option>
                                                                    <option value="1901">1901</option>
                                                                    <option value="1900">1900</option>
                                                                    <option value="1899">1899</option>
                                                                    <option value="1898">1898</option>
                                                                    <option value="1897">1897</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                              
    
                                       
                                    </div>
                                </div>
    
    
    
    
    
                            </div>

                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="basic-card shadow">
                                <div class="card-header">
                                    <div class="card-head">
                                        <div class="head-title">
                                            <h3 class="head-text">
                                                Selection Forms
                                            </h3>
                                        </div>
                                    </div>

                                </div>
                                <div class="card_content">
                                        <div class="row">
												<div class="col-md-6">
													<h3>checkboxes</h3>
													<div class="custom-control custom-checkbox mb-3">
														<input class="custom-control-input" id="customCheck1" type="checkbox">
														<label class="custom-control-label" for="customCheck1">Unchecked</label>
													</div>
													<div class="custom-control custom-checkbox mb-3">
														<input class="custom-control-input" id="customCheck2" type="checkbox" checked="">
														<label class="custom-control-label" for="customCheck2">Checked</label>
													</div>
													<div class="custom-control custom-checkbox mb-3">
														<input class="custom-control-input" id="customCheck3" type="checkbox" disabled="">
														<label class="custom-control-label" for="customCheck3">Disabled Unchecked</label>
													</div>
													<div class="custom-control custom-checkbox mb-3">
														<input class="custom-control-input" id="customCheck4" type="checkbox" checked="" disabled="">
														<label class="custom-control-label" for="customCheck4">Disabled Checked</label>
													</div>
												</div>
												<div class="col-md-6">
													<h3>Radio buttons</h3>
													<div class="custom-control custom-radio mb-3">
														<input name="custom-radio-1" class="custom-control-input" id="customRadio1" type="radio">
														<label class="custom-control-label" for="customRadio1">Unchecked</label>
													</div>
													<div class="custom-control custom-radio mb-3">
														<input name="custom-radio-1" class="custom-control-input" id="customRadio2" checked="" type="radio">
														<label class="custom-control-label" for="customRadio2">Checked</label>
													</div>
													<div class="custom-control custom-radio mb-3">
														<input name="custom-radio-1" class="custom-control-input" id="customRadio3" disabled="" type="radio">
														<label class="custom-control-label" for="customRadio3">Disabled unchecked</label>
													</div>
													<div class="custom-control custom-radio mb-3">
														<input name="custom-radio-1" class="custom-control-input" id="customRadio4" checked="" disabled="" type="radio">
														<label class="custom-control-label" for="customRadio4">Disabled checkbox</label>
													</div>
												</div>
												
											</div>
                                </div>
                            </div>
                        </div>


                    </div>


                </div>
                <footer id="footer">
                    <div class="copyright-area">
                        <p>
                            2017 © Admin theme by Mobio Solutions
                        </p>
                    </div>
                    <div class="footer-menu">
                        <ul>
                            <li>
                                <a href="#">About</a>
                            </li>
                            <li>
                                <a href="#">Privacy</a>
                            </li>
                            <li>
                                <a href="#">Terms And Conditions</a>
                            </li>
                        </ul>
                    </div>
                </footer>
                <div id="stop" class="scrollTop">
                    <a href=""><i class="fa fa-long-arrow-up" aria-hidden="true"></i>
                    </a>
                </div>
                
                 <!-- Javascript Start Here -->
                 <script src="assets/js/plugin/jquery/jquery.min.js"></script>
                 <script src="assets/js/plugin/popper.min.js"></script>
                 <script src="assets/js/plugin/bootstrap.min.js"></script>
                 <script src="assets/js/plugin/default.min.js"></script>
                 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
                 <script src="assets/js/plugin/chart-circle/circles.min.js"></script>
                 <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
                 <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
                 <script src="assets/js/app.js"></script>
            </div>
        </div>


        <!-- Right Section End -->
    </div>


    <!-- <End Of Body Section> -->

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
            $(".side-nav .collapse").on("hide.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
            });
            $('.side-nav .collapse').on("show.bs.collapse", function () {
                $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");
            });
        })
    </script>
    <script>
        $(document).ready(function () {
            /******************************
                BOTTOM SCROLL TOP BUTTON
             ******************************/

            // declare variable
            var scrollTop = $(".scrollTop");

            $(window).scroll(function () {
                // declare variable
                var topPos = $(this).scrollTop();

                // if user scrolls down - show scroll to top button
                if (topPos > 100) {
                    $(scrollTop).css("opacity", "1");

                } else {
                    $(scrollTop).css("opacity", "0");
                }

            }); // scroll END

            //Click event to scroll to top
            $(scrollTop).click(function () {
                $('html, body').animate({
                    scrollTop: 0
                }, 800);
                return false;

            }); // click() scroll top EMD
        });
    </script>

    <!-- Javascript End Here -->



</body>

</html>